*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

header{
    background-color: rgba(0,132,253,255);
    padding: 15px 0px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

main{
    width: 100%;
    height: 1920px;
}

/* INIZIO HEADER */
.container{
    max-width: 1900px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-50{
    width: calc(100% / 2);
}

.logo{
    text-align: center;
}

.link{
    margin-left: 20px;
}

.link-header{
    text-align: left;
    padding-top: 10px;

}

.get-started{
    background-color: white;
    padding: 7px 7px;
    border-radius: 20px;
}
/* FINE HEADER */

/* INIZIO MAIN */
/* MAIN 1 */
.container-main{
    max-width: 1900px;
    height: 600px;
    margin: 0 auto;
    padding-top: 130px;
}

.row-main{
    display: flex;
    flex-wrap: wrap;
}

/* COL 50 MAIN */
.col-50-main{
    width: calc(100% / 2);
}

.demo-application{
    background-color: rgba(181,221,255,255);
    border: 1px solid black;
    height: 200px;
    border-radius: 10px;
    margin-left: 430px;
    margin-right: 5px;
    width: 670px;
}

.clean-code{
    background-color: rgba(181,221,255,255);
    border: 1px solid black;
    height: 200px;
    border-radius: 10px;
    margin-right: 490px;
    margin-left: 172px;
}

/* COL 33 MAIN */

.col-33-main-1{
    width: 290px;
    padding-top: 20px;
    margin-left: 430px;
}

.web-design{
    background-color: rgba(181,221,255,255);
    border: 1px solid black;
    height: 200px;
    border-radius: 10px;
    
}

.col-33-main-2{
    width: 311px;
    padding-top: 20px;
    margin-right: 43px;
    margin-left: 47px;
}

.developement{
    background-color: rgba(181,221,255,255);
    border: 1px solid black;
    height: 200px;
    border-radius: 10px;
    
}

.col-33-main-3{
    width: 290px;
    padding-top: 20px;
}

.branding{
    background-color: rgba(181,221,255,255);
    border: 1px solid black;
    height: 200px;
    border-radius: 10px;
    
}

/* MAIN 2 */
.container-main-2{
    max-width: 1900px;
    height: 600px;
    margin: 0 auto;
    background-color: rgba(151,146,228,255);
}

.row-main-2{
    display: flex;
    flex-wrap: wrap;
}

.col-50-main-2{
    width: calc(100% / 2);
    height: 600px;
}

.square-1{
    background-color: yellow;
    border: 1px solid black;
    width: 500px;
    height: 600px;
    margin-left: 450px;
}

.square-2{
    background-color: yellow;
    border: 1px solid black;
    width: 500px;
    height: 600px;
}

/* MAIN 3 */
.container-main-3{
    max-width: 1900px;
    height: 1100px;
    margin: 0 auto;
    padding-top: 40px;
}

.row-main-3{
    display: flex;
    flex-wrap: wrap;
}

.col-100-main-3{
    width: 100%;
    height: 200px;
    margin-left: 450px;
    margin-right: 450px;
}

.testimonials{
    text-align: center;
}

.expert-partners{
    text-align: center;
    color: rgba(151,146,228,255);
    padding-top: 10px;
    font-size: 40px;
}

.text-expert-partners{
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
}

.col-100-main-3-2{
    width: 100%;
    height: 900px;
    margin-left: 450px;
    margin-right: 450px;
}

.mini-col{
    background-color: rgba(151,146,228,255);
    width: 100%;
    height: 250px;
    border: 1px solid black;
    margin-bottom: 30px;
    border-radius: 40px;
}

/* MAIN 4 */
.container-main-4{
    max-width: 1900px;
    height: 1000px;
    margin: 0 auto;
    padding-top: 40px;
    background-color: rgba(151,146,228,255);
}

.row-main-4{
    display: flex;
    flex-wrap: wrap;
}

.col-100-main-4{
    width: 100%;
    height: 50px;
    margin-left: 450px;
    margin-right: 450px;
}

.benefit-working{
    text-align: center;
    color: white;
    font-size: 40px;
}

.col-33-main-4{
    width: 100%;
    padding-top: 20px;
    display: flex;
    margin-left: 400px;
    margin-right: 400px;
}

.mini-col-4{
    width: 100%;
    height: 400px;
    border: 1px solid black;
    margin-bottom: 30px;
    border-radius: 40px;
    background-color: white;
}

.mini-col-center-4{
    width: 100%;
    height: 400px;
    border: 1px solid black;
    margin-bottom: 30px;
    border-radius: 40px;
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
}

/* MAIN 5 */
.container-main-5{
    max-width: 1900px;
    height: 1000px;
    margin: 0 auto;
    padding-top: 40px;
}

.row-main-5{
    display: flex;
    flex-wrap: wrap;
}

.col-50-main-5{
    width: calc(100% / 2);
    height: 600px;
}

.square-1-5{
    background-color: yellow;
    border: 1px solid black;
    width: 700px;
    height: 500px;
    margin-left: 400px;
}

.square-2-5{
    background-color: yellow;
    border: 1px solid black;
    width: 350px;
    height: 500px;
    margin-left: 200px;
}












/* FINE MAIN */
